*{
    margin: 0px;
}
main{
    max-width: 1320px;
    margin: 0px auto;
}
/* common style */
.text-center{
    text-align: center;
}
.btn-common{
    background-color: #FF0000;
    padding: 16px 32px ;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    color: white;
}
/* hero section style */
.hero-section{
    background-image: linear-gradient(to bottom, rgba(7, 2, 17, 1), 
      rgba(7, 2, 17, 0)), url("../images/Banner Image.png");
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    border-radius: 16px;
}
.hero-section-new-year{
    font-size: 32px;
}
.hero-section-new-year-celebration{
    font-size: 72px;
}

/* offer section style */
.offer-heading{
    font-size: 88px;
    color: #FF0000;
    margin: 120px 0px 48px 0px;
    font-family: "Inter", sans-serif;
}
.offer-holiday-heading{
    font-size: 24px;
    color: #FF0000;
    font-family: "Inter", sans-serif;
}
.offer-categories{
    font-size: 48px;
    margin-bottom: 48px;
    font-family: "Inter", sans-serif;
}
.offer-photo{
    margin: auto;
    display: block;
}

/* midnight-party- start */
.midnight-party-section{
   background-image: linear-gradient(to bottom, rgba(7, 2, 17, 1), 
      rgba(7, 2, 17, 0)), url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    gap: 40px;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    border-radius: 16px;
    padding: 0px 138px;
}
.midnight-party-heading{
    font-size: 64px;
}
.midnight-party-description{
    font-size: 18px;
    margin: 24px 0px 48px 0px;
    font-family: "Inter", sans-serif;
}
.midnight-party-join{
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.event-section{
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.2), 
      rgba(255, 0, 0, 0));
    width: 1320px;
    height: 482px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin: 120px 0px;
    font-family: "Inter", sans-serif;
}
.event-section>div h2{
    font-size: 32px;
    margin-top: 30px;
}
.event-highlight{
    color: #FF0000 ;
}
.event-btn{
    margin-top: 48px;
}