*{
    font-family: "Merriweather", serif;
    margin: 0px;
}
main{
    max-width: 1320px;
    margin: 0px auto;
}
/* common style */
.text-center{
    text-align: center;
}
/* hero section style */
.hero-section{
    background-image: linear-gradient(to bottom, rgba(7, 2, 17, 1), 
      rgba(7, 2, 17, 0)), url("../images/Banner Image.png");
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    border-radius: 16px;
}
.hero-section-new-year{
    font-size: 32px;
}
.hero-section-new-year-celebration{
    font-size: 72px;
}

/* offer section style */
.offer-heading{
    font-size: 88px;
    color: #FF0000;
    margin-top: 120px;
}
.offer-photo{
    margin: auto;
    display: block;
}