*{
    margin: 0px;
    padding: 0px;
}
main{
    max-width: 1320px;
    margin: 0px auto;
}
/* common style */
.text-center{
    text-align: center;
}
.btn-common{
    background-color: #FF0000;
    padding: 16px 32px ;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    color: white;
}
/* hero section style */
.hero-section{
    background-image: linear-gradient(to bottom, rgba(7, 2, 17, 1), 
      rgba(7, 2, 17, 0)), url("../images/Banner Image.png");
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    border-radius: 16px;
}
.hero-section-new-year{
    font-size: 32px;
}
.hero-section-new-year-celebration{
    font-size: 72px;
}

/* offer section style */
.offer-heading{
    font-size: 88px;
    color: #FF0000;
    margin: 120px 0px 48px 0px;
    font-family: "Inter", sans-serif;
}
.offer-holiday-heading{
    font-size: 24px;
    color: #FF0000;
    font-family: "Inter", sans-serif;
}
.offer-categories{
    font-size: 48px;
    margin-bottom: 48px;
    font-family: "Inter", sans-serif;
}
.offer-photo{
    margin: auto;
    display: block;
}

/* midnight-party- start */
.midnight-party-section{
   background-image: linear-gradient(to bottom, rgba(7, 2, 17, 1), 
      rgba(7, 2, 17, 0)), url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    gap: 40px;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    border-radius: 16px;
    padding: 0px 138px;
}
.midnight-party-heading{
    font-size: 64px;
}
.midnight-party-description{
    font-size: 18px;
    margin: 24px 0px 48px 0px;
    font-family: "Inter", sans-serif;
}
.midnight-party-join{
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.event-section{
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.2), 
      rgba(255, 0, 0, 0));
    width: 1320px;
    height: 482px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin: 120px 0px;
    font-family: "Inter", sans-serif;
}
.event-section>div h2{
    font-size: 32px;
    margin-top: 30px;
}
.event-highlight{
    color: #FF0000 ;
}
.event-btn{
    margin-top: 48px;
}

/* celebration section start */
.celebration-section{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 70px;
}
.new-offer{
    color: #FF0000;
    font-family: "Inter", sans-serif;
    font-size: 24px;
}
.celebration-coming-soon{
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 22px;
    margin-top: 16px;
}
/* Offer section */
.holiday-function{
    margin-top: 120px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
}
.holiday-headline{
    font-size: 72px;
    font-weight: 800;
    font-family: "Merriweather", serif;
    margin: 18px 0px 16px 0px;
}
.holidays{
    color: #FF0000;
}
.holiday-description {
    margin-bottom: 64px;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
}
.offer-description{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #070211;
    
}
.celebration-img{
    border: solid 15px #FF0000;
    border-radius: 50%;
    padding: 49px;
}
.celebration-year{
    font-size: 48px;
    font-family: "Inter", sans-serif;
    color: #FF0000;
    margin-bottom: 48px;
}

.offer-description{
    margin-bottom: 43px;
    
}

.holiday-offer{
    display: flex;
    justify-content: space-between;
    background-image:url("../images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom;
}
.offer-img{
    width: 674px;
    height: 577px;
    z-index: 1;
}
.discount-img{
    width: 305.69px;
    height: 305.69px;
    z-index: 1;
}

/* gift section */
.gift-text{
    color: #FF0000;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    margin-top: 120px;
    margin-bottom: 16px;
}
.portfolio{
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 800;
}
.gift-description-text{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin-top: 22px;
    margin-bottom: 48px;
}
.gift-items{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 24px;
    margin-bottom: 120px;
}
/* subscribe section start */
.subscribe-section{
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    padding: 80px 212px;
    text-align: center;
    margin-bottom: 48px;
}
.subscribe-heading{
    font-size: 48px;
    font-family: "Merriweather", serif;
    margin: 40px 0px 22px 0px;
}
.subscribe-description{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin-bottom: 48px;
}
input[type=email]{
    padding: 20px 50px;
    border-radius: 50px 0 0 50px;
    border: none;
    margin: 0px;
    font-size: 18px;
}
input[type=submit]{
    padding: 20px 50px;
    font-size: 20px;
    background-color: rgba(255, 0, 0, 1);
    border-radius: 0px 50px 50px 0px;
    color: white;
    border: none;
    margin: 0px;
    font-weight: 500;
}

/* footer */
footer{
    background-color: rgba(7, 2, 17, 1);
    color: white;
    font-family: "Inter", sans-serif;}
.main-footer-div{
    padding: 140px;
    margin-bottom: 0px;
    
}
.footer-section>div{
    display: flex;
    justify-content: space-between;
}
.call-section{
    display: flex;
    gap: 16px;
}
.call-section>img{
    width: 24px;
    height: 24px;
}
.call-section>p{
    font-size: 20px;
}
.web-section{
    display: flex;
    gap: 16px;
}
.web-section>img{
    width: 24px;
    height: 24px;
}
.web-section>p{
    font-size: 20px;
}
.details{
    border: solid 1px rgba(255, 255, 255, 0.15);
    margin: 50px 5px;
}
.social-icon{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-icon img{
    width: 64px;
    height: 64px;
}
.details-second{
    border: solid 1px rgba(255, 255, 255, 0.15);
    margin: 50px 5px;
}
.reserved-section{
    display: flex;
    justify-content: space-between;
}